<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Icons</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Icons">
		<meta name="keywords" content="Icons">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">

		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/theme.css" rel="stylesheet">

		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->

	</head>

	<body style="background-color: #E5E5E5;">
		<div class="container">
			<header>
				<div>
					<div id="title">
						<h1>Messages</h1>
					</div>
					<div id="user">
						<a href="/settings" data-target="/settings"><i class="far fa-user-circle fa-4x"></i></a>
					</div>
				</div>
			</header>
			<section>
				<h2>Icons Available for use</h2>
				<table>
					<tr>
						<td><i class="fas fa-check"></i></td>
						<td><i class="fas fa-check-circle"></i></td>
						<td><i class="far fa-check-circle"></i></td>
						<td><i class="far fa-check-square"></i></td>
					</tr>
					<tr>
						<td><i class="fas fa-users"></i></td>
						<td><i class="fas fa-user"></i></td>
					</tr>
				</table>
				<i class="fas fa-check"></i>

			</section>
			<!--Navigation Bar -->
			<nav class="navbar-fixed-bottom bottomNav">
				<hr>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<i class="fas fa-bars fa-2x"></i>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse border-top">
					<ul class="nav bottomNav">
						<li class="text-center">
							<a href="/" data-toggle="collapse" data-target="/">
								<i class="fas fa-home fa-3x"></i><br>Home
							</a>
						</li>
						<li class="text-center">
							<a href="/schedule" data-toggle="collapse" data-target="/schedule">
								<i class="far fa-calendar-alt fa-3x"></i><br>Schedule
							</a>
						</li>
						<li class="text-center">
							<a href="/messages" data-toggle="collapse" data-target="/messages">
								<i class="fas fa-envelope fa-3x"></i><br>Messages
							</a>
						</li>
						<li class="text-center">
							<a href="/shared" data-toggle="collapse" data-target="/shared"><i
									class="fas fa-utensils fa-3x"></i><br>Fridge
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- end of navigation bar -->
		</div>

	</body>

</html>