<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Home Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Index">
		<meta name="keywords" content="Tasks, Reminders and Home">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">

		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script> -->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/theme.css" rel="stylesheet">
		<link href="css/nav.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6MGFFN3SZJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-6MGFFN3SZJ');
		</script>
	</head>

	<body>
		<div class="container">
			<header>
				<div>
					<div id="title">
						<h1>Home</h1>
					</div>
					<div id="user">
						<a href="/settings" data-target="/settings"><i class="far fa-user-circle fa-4x"></i></a>
					</div>
				</div>
			</header>
			<section>
				<h2>My Weekly Tasks</h2>
				<div class="rounded textBox">
					<div class="rounded reminder">
						<p>Trash <i class="fas fa-trash fa-2x"></i></p> 
						<small>All Week</small>
					</div>
					<div class="rounded reminder">
						<p>Parking<i class="fas fa-car fa-2x"></i></p>
						<small>All Week</small>
					</div>
				</div>

			</section>
			<section>
				<h2>Reminders</h2>
				<div class="rounded textBox">
					<div class="rounded reminder">
						<p>Dishes</p>
						<small>Tuesday, 5:30PM</small>
					</div>
					<div class="rounded reminder">
						<p>Buy Toilet Paper</p>
						<small>Wednesday, 3:32PM</small>
					</div>
				</div>
			</section>
			<!--Navigation Bar -->
			<nav class="navbar-fixed-bottom bottomNav">
				<hr>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-ex1-collapse">
						<i class="fas fa-bars fa-2x"></i>
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="collapse navbar-collapse navbar-ex1-collapse border-top">
					<ul class="nav bottomNav">
						<li class="text-center">
							<a href="/index" data-toggle="collapse" data-target="/index">
								<i class="fas fa-home fa-3x"></i><br>Home
							</a>
						</li>
						<li class="text-center">
							<a href="/schedule" data-toggle="collapse" data-target="/schedule">
								<i class="far fa-calendar-alt fa-3x"></i><br>Schedule
							</a>
						</li>
						<li class="text-center">
							<a href="/messages" data-toggle="collapse" data-target="/messages">
								<i class="fas fa-envelope fa-3x"></i><br>Messages
							</a>
						</li>
						<li class="text-center">
							<a href="/food" data-toggle="collapse" data-target="/food"><i
									class="fas fa-utensils fa-3x"></i><br>Fridge
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<!-- end of navigation bar -->
		</div>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.9.3/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.9.3/firebase-analytics.js"></script>

		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>

		<script>
			var nameToShow = localStorage.getItem("firstname");
			if (nameToShow != "") {
				$('h2:contains("My Weekly Tasks")').text(nameToShow + "'s Weekly Tasks");
			}

		</script>
	</body>

</html>