<html>

	<head>
		<title>Home Page</title>
		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="/js/bootstrap.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/hci-friends.css" rel="stylesheet">
	</head>

	<body>
		<div>

		</div>
	</body>

</html>