<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Shared Items</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Index">
		<meta name="keywords" content="Pantry, Fridge, Shared">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">

		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>
		<script src="/js/login.js"></script>
		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/theme.css" rel="stylesheet">
		<link href="css/login.css" rel="stylesheet">

		<link href='https://fonts.googleapis.com/css?family=Mogra' rel='stylesheet'>
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<link href="css/theme.css" rel="stylesheet">


		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6MGFFN3SZJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-6MGFFN3SZJ');
		</script>

	</head>

	<body>



		<!-- Button to open modal login/signup form -->

		<div class="container" id="first">
			<div id="logo">
				<h1>Roommate Reminder</h1> <br>
				<button onclick="document.getElementById('login').style.display='block'">Login</button>
				<button onclick="document.getElementById('signup').style.display='block'">Sign Up</button>
			</div>
		</div>

		<div class="container">
			<!-- the Modal -->
			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center form modal" id="login">
				<span onclick="document.getElementById('login').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<h1>Login</h1>
				<!-- Modal content -->
				<form class="model-content animate login">

					<div class="imgcontainer">
						<i class="far fa-user-circle fa-4x"></i>
					</div>

					<div class="loginform">

						<div class="form-group">
							<label for="username"><b>Username</b></label>
							<input type="text" placeholder="Enter username" name="username" class="form-control"
								id="username" required>
						</div>

						<div class="form-group">
							<label for="password"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="password" class="form-control"
								id="password" required>
						</div>
						<div>
							<label class="form-check-label" for="rememberMe">
								<input type="checkbox" name="remember" id="remember"> Remember me
							</label>
						</div>
						<input type="submit" value="Login" class="btn btn-primary btn-lg" id="submit">
						<div class="form-group footer ">
							<span class="psw">Forgot <a href="#">password?</a></span>
						</div>
					</div>
				</form>
			</div>

			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center form modal" id="signup">

				<div>
					<div>
						<span onclick="document.getElementById('signup').style.display='none'" class="close"
							title="Close Modal">&times;</span>
					</div>

				</div>

				<!-- modal content -->
				<form class="model-content animate signup">
					<h1 style="text-align: center;">Signup</h1>
					<div class="signupform">
						<div class="form-group col">
							<label for="name"><b>First Name</b></label>
							<input type="text" placeholder="Enter First name" name="firstname" class="form-control"
								id="fname" required>
						</div>
						<div class="form-group" id="lastname">
							<label for="name"><b>Last Name</b></label>
							<input type="text" placeholder="Enter Last name" name="lname" class="form-control"
								id="lname" required>
						</div>
						<div class="form-group">
							<label for="email"><b>Email</b></label>
							<input type="email" placeholder="Enter Email" name="email" class="form-control" id="email"
								required>
						</div>
						<div class="form-group">
							<label for="username"><b>Username</b></label>
							<input type="text" placeholder="Enter username" name="username" class="form-control"
								id="susername" required>
						</div>

						<div class="form-group">
							<label for="password"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="password" class="form-control"
								id="spassword" required>
						</div>

						<div class="form-group">
							<label for="password"><b>Repeat Password</b></label>
							<input type="password" placeholder="Repeat Password" name="password-repeat"
								class="form-control" id="password-repeat" required>
						</div>
						<div class="signup">
							<label class="form-check-label" for="rememberMe">
								<input type="checkbox" name="remember" id="sremember"> Remember me
							</label>
							<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
									Privacy</a>.</p>
							<button class="btn btn-primary btn-lg" type="submit">Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script>
			// Get the modal
			var loginmodal = document.getElementById('login');
			var signupmodal = document.getElementById('signup');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function (event) {
				if (event.target == loginmodal) {
					modal.style.display = "none";
				}
			}
		</script>

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<!--		<script src="/__/firebase/7.9.3/firebase-app.js"></script> -->

		<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
		<!--		<script src="/__/firebase/7.9.3/firebase-analytics.js"></script> -->

		<!-- Initialize Firebase -->
		<!--		<script src="/__/firebase/init.js"></script>-->
	</body>

</html>