<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Shared Items</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Index">
		<meta name="keywords" content="Pantry, Fridge, Shared">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">

		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">

		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->
	</head>

	<body>

	</body>

</html>