<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Shared Items</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Index">
		<meta name="keywords" content="Pantry, Fridge, Shared">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">

		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/login.css" rel="stylesheet">

		<link href='https://fonts.googleapis.com/css?family=Mogra' rel='stylesheet'>
		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->




	</head>

	<body>



		<!-- Button to open modal login/signup form -->

		<div class="container" id="first">
			<div id="logo">
				<h1>Roommate Reminder</h1> <br>
				<button onclick="document.getElementById('login').style.display='block'">Login</button>
				<button onclick="document.getElementById('signup').style.display='block'">Sign Up</button>
			</div>
		</div>

		<div class="container">
			<!-- the Modal -->
			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center form modal" id="login">
				<span onclick="document.getElementById('login').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<h1>Login</h1>
				<!-- Modal content -->
				<form action="/php/login.php" class="model-content animate">

					<div class="imgcontainer">
						<img src="#" alt="Avatar" class="avatar" hidden>
						<i class="far fa-user-circle fa-5x"></i>
					</div>

					<div class="loginform">

						<div class="form-group">
							<label for="username"><b>Username</b></label>
							<input type="text" placeholder="Enter username" name="username" class="form-control"
								id="username" required>
						</div>

						<div class="form-group">
							<label for="password"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="password" class="form-control"
								id="password" required>
						</div>
						<div>
							<label class="form-check-label" for="rememberMe" id="remember">
								<input type="checkbox" name="remember"> Remember me
							</label>
						</div>
						<button class="btn btn-primary btn-lg" type="submit">Login</button>

						<div class="form-group footer ">
							<span class="psw">Forgot <a href="#">password?</a></span>
						</div>
					</div>
				</form>
			</div>

			<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 text-center form modal" id="signup">

				<div>
					<div>
						<span onclick="document.getElementById('signup').style.display='none'" class="close"
							title="Close Modal">&times;</span>
					</div>
					<h1>Signup</h1>
				</div>

				<!-- modal content -->
				<form action="/index" class="model-content animate">

					<div class="signupform">
						<div class="form-group col">
							<label for="name"><b>First Name</b></label>
							<input type="text" placeholder="Enter First name" name="firstname" class="form-control"
								id="firstname" required>
						</div>
						<div class="form-group" id="lastname">
							<label for="name"><b>Last Name</b></label>
							<input type="text" placeholder="Enter Last name" name="lasttname" class="form-control"
								required>
						</div>
						<div class="form-group" id="email">
							<label for="email"><b>Email</b></label>
							<input type="text" placeholder="Enter Email" name="email" class="form-control" required>
						</div>
						<div class="form-group" id="username">
							<label for="username"><b>Username</b></label>
							<input type="text" placeholder="Enter username" name="username" class="form-control"
								required>
						</div>

						<div class="form-group" id="password">
							<label for="password"><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="password" class="form-control"
								required>
						</div>

						<div class="form-group" id="password-repeat">
							<label for="password"><b>Repeat Password</b></label>
							<input type="password" placeholder="Repeat Password" name="password-repeat"
								class="form-control" required>
						</div>
						<div class="signup">
							<label class="form-check-label" for="rememberMe" id="remember">
								<input type="checkbox" name="remember"> Remember me
							</label>
							<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
									Privacy</a>.</p>
							<button class="btn btn-primary btn-lg" type="submit">Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<script>
			// Get the modal
			var loginmodal = document.getElementById('login');
			var signupmodal = document.getElementById('signup');

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function (event) {
				if (event.target == loginmodal) {
					modal.style.display = "none";
				}
			}
		</script>
	</body>

</html>