<!--Navigation Bar -->
<nav class="navbar-fixed-bottom bottomNav">
	<hr>
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<i class="fas fa-bars fa-2x"></i>
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse border-top">
		<ul class="nav bottomNav">
			<li class="text-center">
				<a href="/index" data-toggle="collapse" data-target="/index">
					<i class="fas fa-home fa-3x"></i><br>Home
				</a>
			</li>
			<li class="text-center">
				<a href="/schedule" data-toggle="collapse" data-target="/schedule">
					<i class="far fa-calendar-alt fa-3x"></i><br>Schedule
				</a>
			</li>
			<li class="text-center">
				<a href="/messages" data-toggle="collapse" data-target="/messages">
					<i class="fas fa-envelope fa-3x"></i><br>Messages
				</a>
			</li>
			<li class="text-center">
				<a href="/food" data-toggle="collapse" data-target="/food"><i
						class="fas fa-utensils fa-3x"></i><br>Fridge
				</a>
			</li>
		</ul>
	</div>
</nav>

<!-- end of navigation bar -->


