<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title>Schedule</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta name="description" content="index">
		<meta name="keywords" content="Schedule, Calendar">
		<meta name="author" content="Alyssa Ramiro, Stacy Kim, Apurwa Shulka">
		<!--Javascript files-->
		<!--<script src="/js/jquery-1.11.0.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!--<script src="/js/bootstrap.js"></script>-->
		<script src="/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/425ceb4c07.js" crossorigin="anonymous"></script>

		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/theme.css" rel="stylesheet">
		<link href="css/nav_B.css" rel="stylesheet">
		<link href="css/schedule_B.css" rel="stylesheet">

		<!--<link href="css/bootstrap-theme.min.css" rel="stylesheet"> -->


		<!-- calendar plugin api -->
		<script src="js/schedule_B.js"></script>
		<link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
		<link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
		<link href='fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
		<link href='fullcalendar/packages/list/main.css' rel='stylesheet' />
		<link href='fullcalendar/packages/bootstrap/main.css' rel='stylesheet' />


		<script src='fullcalendar/packages/core/main.js'></script>
		<script src='fullcalendar/packages/daygrid/main.js'></script>
		<script src='fullcalendar/packages/interaction/main.js'></script>
		<script src='fullcalendar/packages/timegrid/main.js'></script>
		<script src='fullcalendar/packages/bootstrap/main.js'></script>

		<script src='fullcalendar/packages/list/main.js'></script>
		<script src='fullcalendar/packages/google-calendar/main.js'></script>
		<!--end of calendar api -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6MGFFN3SZJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-6MGFFN3SZJ');
		</script>
	</head>

	<body style="background-color: #FFFCED;">
		<div class="container">
			<header>
				<div id="title toggle">
					<span> <button onclick="toggle_visibility('individualCalendar', 'groupCalendar')" class="rounded"><i
								class="fas fa-user individual"></i></button></span>
					<span> <button onclick="toggle_visibility('groupCalendar', 'individualCalendar')" class="rounded"><i
								class="fas fa-users group"></i></button></span>

					<div id="user">
						<a href="/settings" data-target="/settings"><i class="far fa-user-circle fa-4x"></i></a>
					</div>
				</div>
			</header>
		</div>

		<div class="container" style="height: 90%;" class="rounded">

			<div id="groupCalendar" class="rounded">
				<div id='calendar2'></div>
			</div>

			<div id="individualCalendar">
				<div id='calendar'></div>
			</div>

			<!--Navigation Bar-->
			<nav class="mobile-bottom-nav" style="height: 10%;">
				<div class="mobile-bottom-nav__item ">
					<div class="mobile-bottom-nav__item-content">
						<i class="fas fa-home fa-3x"></i><br>Home
					</div>
				</div>
				<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
					<div class="mobile-bottom-nav__item-content">
						<i class="far fa-calendar-alt fa-3x"></i><br>Schedule
					</div>
				</div>
				<div class="mobile-bottom-nav__item">
					<div class="mobile-bottom-nav__item-content">
						<i class="fas fa-envelope fa-3x"></i><br>Messages
					</div>
				</div>

				<div class="mobile-bottom-nav__item">
					<div class="mobile-bottom-nav__item-content">
						<i class="fas fa-utensils fa-3x"></i><br>Fridge
					</div>
				</div>
			</nav>

			<!-- end of Navigation Bar -->
		</div>

		<!-- Modals -->
		<div id="nudgeModal" class="modal" style="text-align: center;">
			<div class="modal-content">
				<span onclick="document.getElementById('nudgeModal').style.display='none'" class="close">&times;</span>
				<div class="modal-header">
					<h2 id="nudge-title">Nudge person?</h2>
				</div>
				<div class="modal-body">
					<button id="nudge">Nudge</button>
					<button id="closebtn">Cancel</button>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>


		<div id="nudgeModalafter" class="modal" style="text-align: center;">
			<div class="modal-content">
				<span onclick="document.getElementById('nudgeModalafter').style.display='none'"
					class="close">&times;</span>
				<div class="modal-header">
					<h2 id="nudge-title-after">Nudge Sent!</h2>
				</div>
				<div class="modal-body">
					<button id="close"
						onclick="document.getElementById('nudgeModalafter').style.display='none'">close</button>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>

		<div class="form modal" id="popup" style="text-align: center;">
			<!-- modal content -->
			<div class="modal-content animate">
				<span onclick="document.getElementById('popup').style.display='none'" class="close"
					title="Close Modal">&times;</span>
				<h1>Add Event</h1>
				<form target="/schedule">

					<div class="popupform">

						<div class="form-group">
							<input type="text" placeholder="Add description" name="description" class="form-control"
								id="description">
						</div>

						<div class="form-group">
							<input type="time" name="start" class="form-control" id="starttime" required>
						</div>

						<div class="form-group">
							<input type="time" name="end" class="form-control" id="endtime" required>
						</div>

						<button class="btn btn-primary btn-lg" type="submit">Save</button>

					</div>
				</form>
			</div>

		</div>
		<script>
			// Get the modal
			var modal = document.getElementById('popup');
			var nudgeafter = document.getElementById('nudgeModalafter');
			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function (event) {
				if (event.target == popup || event.target == nudgeafter) {
					modal.style.display = "none";
					nudgeafter.style.display = "none";
				}
			}
		</script>
		<script>
			/*			$(function () {
							$("#toggle > span").click(function () {
								var ix = $(this).index();
								$("#individualCalendar").toggle(ix === 0);
								$("#groupCalendar").toggle(ix === 1);
							});
						});*/

			function toggle_visibility(id, id2) {
				var toShow = document.getElementById(id);
				var toHide = document.getElementById(id2);

				if (toHide.style.display == 'block' || toHide.style.display == '') {
					toHide.style.display = 'none'
					toShow.style.display = "block"
				}
				else { toShow.style.display = 'block' }
			}
		</script>
		<script>
			var navItems = document.querySelectorAll(".mobile-bottom-nav__item");
			navItems.forEach(function (e, i) {
				e.addEventListener("click", function (e) {
					navItems.forEach(function (e2, i2) {
						e2.classList.remove("mobile-bottom-nav__item--active");
					})
					this.classList.add("mobile-bottom-nav__item--active");
				});
			});
		</script>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.9.3/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.9.3/firebase-analytics.js"></script>

		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
	</body>

</html>