a:link {color:#000000;} /*unvisited link*/
a:visited {color:#000000;} /*visited link*/
a:hover {color: silver;} /*mouse over link*/
a:active {color:silver;} /*selected link*/


div.textBox {
  background-color: white;
}

nav.bottomNav {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

ul.bottomNav {
	text-align: center;
}

nav.bottomNav img {
  size: 40px;
}

ul {
  margin: 0;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -5px;
}

ul.dashed > li:before {
  content: "-";
  text-indent: -5px;
}

li > a {
  color: black;
}

#title  {
  display: inline-block;
}
#user {
  float: right;
}


ul.nav li {
	display: inline-block
}

.rounded {
  border-radius: 25px;
  padding: 20px;
  width: 95%;
  height:95%;
}