

p{
  font-size: 16px;
}
div.textBox {
  background-color: #FFE5B4;
  width: auto;
}

span.clear1 {
  clear: left;
  display: block;
  width: 45%
}

span.clear2 {
  clear: right;
  display: block;
  width: 45%;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
  color: #c48024;
}

.rounded {
  border-radius: 20px;
  padding: 15px;

}


.reminder {
  border: 1px solid transparent;
  border-color: black;
  margin: 10px auto;
  overflow: hidden;

}

.box1 {
  float: left;
  width: 50%;

}

.box2 {
  float: right;
  width: 50%;
  text-align: right;
}

.badge {
  position: absolute;
  top: 54%;
  right: 17px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 1.6;
  background-color: #c48024;
}