

p{
  font-size: 16px;
}
div.textBox {
  background-color: #FFE5B4;
}




ul.dashed {
  list-style-type: none;
}

ul.dashed li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
  color: #c48024;
}

.rounded {
  border-radius: 20px;
  padding: 15px;
  width: 95%;
  height:95%;
}


.reminder {
  border: 1px solid transparent;
  border-color: black;
  margin: 10px auto;
}