nav.bottomNav {
	overflow: hidden;
	position: fixed;
	width: 100%;
  }
  
  ul.bottomNav {
	  text-align: center;
  }
  
  nav.bottomNav img {
	size: 40px;
  }
  ul.nav li {
	display: inline-block
}

ul {
	margin: 0;
  }
  li > a {
	color: black;
  }