
a:link {color:#000000;} /*unvisited link*/
a:visited {color: lightskyblue;} /*visited link*/
a:hover {color: #FA8072;} /*mouse over link*/
a:active {color:#ffc6b4;} /*selected link*/

#title  {
	display: inline-block;
  }
  #user {
	float: right;
  }
  
header {
	margin: 10px auto;
  }
  
  html, body {
	height:100%;
  }
body {
	background-color: #FFFCED;
	font-family: 'Montserrat', sans-serif;

}
